# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
.DS_Store

frontend/.DS_Store
frontend/node_modules
frontend/package.json
frontend/package-lock.json

# Secrets
.env
backend/.env

# Node
node_modules
backend/node_modules

# IDE
.idea/
.vscode/

backend/.DS_Store
/generated/prisma
testPrisma.js